
@charset "UTF-8";

/* --- 全体の背景・テキスト --- */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* ページの背景色 */
    color: #000000; /* 全体の文字色 */
    font-size: 100%; /* 全体の文字サイズ */
}

/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }

/* --- コンテナ --- */
#container {
    width: 100%; /* ページの幅 */
    background-color: #90ee90;
}
#containerInner {
    width: 95%;
    margin-left: 30px;
}

/* --- ヘッダ --- */
#header {
    color: #3cb371;
    font-size: xx-large;
    background-color: #90ee90;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* --- ナビゲーション --- */
#nav {
    float: left;
    width: 200px; /* 左サイドバーの幅 */
    background-color: #90ee90;
}

#nav_items {
    background-color: #3cb371;
    color: #ffffff;
    margin-right: 20px;
    padding : 10px;
}

/* --- メインカラム --- */
#content {
    width: 80%;
    background-color: #ffffff;
    margin-left: 200px; /* 左サイドバーの幅 */
    padding: 20px 20px 20px 20px;
}
#contentHeader {
    color: #3cb371;
    font-size: xx-large;
    border: 2px solid #df1010;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#contentInner {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --- フッタ --- */
#footer {
    clear: left; /* フロートのクリア */
    width: 100%;
    background-color: #90ee90;
}
