
@charset "UTF-8";

/* --- 全体の背景・テキスト --- */
body {
    margin: 0;
    padding: 0;
    background-color: #90ee90; /* ページの背景色 */
}

/* --- コンテナ --- */
#container {
    width: 100%; /* ページの幅 */
}
#containerInner {
    width: 95%;
    margin-left: 30px;
}

/* --- ヘッダ --- */
#header {
    color: #3cb371;
    font-size: xx-large;
    background-color: #90ee90;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* --- ナビゲーション --- */
#nav {
    float: left;
    width: 200px; /* 左サイドバーの幅 */
    background-color: #90ee90;
}

#nav_items {
    background-color: #3cb371;
    color: #ffffff;
    margin-right: 20px;
    padding : 10px;
}

/* --- メインカラム --- */
#content {
    width: 80%;
    background-color: #ffffff;
    margin-left: 200px; /* 左サイドバーの幅 */
    padding: 20px 20px 20px 20px;
}
#contentHeader {
    color: #3cb371;
    font-size: xx-large;
    border: 2px solid #df1010;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#contentInner {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --- フッタ --- */
#footer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #90ee90;
}
